#tweet_box {
  top: 2%;
  margin-top: 5%;
  right: 1%;
  /*border: black solid;*/
  background-color: white;
  max-height: 85vh;
  width: 100%;
  overflow-y: auto;
  /*right: 0;*/
  position: absolute;
  /*top: 10px;*/
  /*border-radius: 2vh;*/
  color: #14171a;
  font-family: 'Segoe UI',Arial,sans-serif;
}

@media (min-width: 992px) {
  #tweet_box {

  }
}


@media (min-width: 768px) and (max-width: 991px) {
  #tweet_box {
    margin-right: 7%;
  }
}

@media (max-width: 767px) {
  #tweet_box {
    margin: 0 4%;
    width: 90%;
  }
}

#tweet_box .header {
  font-size: 1.5rem;
  display: inline-block;
}

#tweet_box p {
  font-size: 1rem;
  display: inline-block;
  margin-left: 10px;
}

.good_word {
  color: #3e3e86;
  filter: drop-shadow(0 0 3px dodgerblue);
}

.bad_word {
  color: #bf4545;
  filter: drop-shadow(0 0 3px salmon);
}

.pause-tweets {
  margin-bottom: 30px;
  height: 30px;
  line-height: 18px;
}
