#tweet_box {
  top: 2%;
  right: 1%;
  /*border: black solid;*/
  background-color: white;
  max-height: 90vh;
  width: 100%;
  overflow-y: auto;
  /*right: 0;*/
  position: absolute;
  /*top: 10px;*/
  /*border-radius: 2vh;*/
  color: #14171a;
  font-family: 'Segoe UI',Arial,sans-serif;

}

#tweet_box .header {
  font-size: 1.5rem;
  display: inline-block;
}

#tweet_box p {
  font-size: 1rem;
  display: inline-block;
  margin-left: 10px;
}
