<div id="map-background">
  <div class="row">
    <div class="col">
      <div id="map" class="map"></div>
    </div>
    <div class="col">
      <div id="chart-box">
        <h1 class="centre alfa">{{ward.name}}</h1>
        <h2 class="centre">{{ward.prettyAverage}}% Happy</h2>
        <div id="happinessChartContainer">
          <nvd3 id="happinessChart" [options]="lineOptions" [data]="lineData"></nvd3>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="centre"><b>Most Common Terms</b></h2>
            <h1 class="centre alfa">Celtic</h1>
            <h2 class="centre alfa">Rangers</h2>
            <h3 class="centre alfa">Partick</h3>
          </div>
          <div class="col">
            <br>
            <div class="centre yuge alfa">212</div>
            <h3 class="centre alfa">tweets</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
