<div id="map-background">
  <div class="row">
    <div style="height: 80vh" class="col col-xl-4 col-lg-4 col-md-8 col-sm-12 col-12">
      <mat-tab-group id="mapModeTabs" #mapModeTabs (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Scotland"></mat-tab>
        <mat-tab label="Glasgow"></mat-tab>
        <mat-tab label="Edinburgh"></mat-tab>
      </mat-tab-group>

      <app-glasgow-map [hidden]="currentMode!=mapModes.Glasgow"></app-glasgow-map>
      <app-scotland-map (mapMode)="setMode($event)" [hidden]="currentMode!=mapModes.Scotland"></app-scotland-map>
      <app-edinburgh-map (mapMode)="setMode($event)" [hidden]="currentMode!=mapModes.Edinburgh"></app-edinburgh-map>
    </div>
    <div style="height: 90vh" class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
      <app-tweet-box [ward]="district"></app-tweet-box>
    </div>
    <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
      <mat-card id="districtInfoBox">
        <mat-card-header>
          <mat-card-title class="header">{{district.name}}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{district.prettyAverage}}% Happy</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-happy-timeline [ward]="district"></app-happy-timeline>
          <div class="row">
            <div class="col">
              <h2 class="centre"><b>Most Common Terms</b></h2>
              <h1 class="centre alfa">Glasgow</h1>
              <h2 class="centre alfa">Rangers</h2>
              <h3 class="centre alfa">Partick</h3>
            </div>
            <div class="col">
              <br>
              <div class="centre yuge alfa">{{this.district.total}}</div>
              <h3 class="centre alfa">tweets</h3>
            </div>
          </div>
          <div class="row">
            <app-happy-rank [ward]="district" [wards]="districts"></app-happy-rank>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
