html * {
  font-family: 'Open Sans', sans-serif;
}

body {
  /*overflow: hidden;*/
  background-color: #dadada;
}

.hidden {
  display: none;
}

html, body {
  height: 100%;
}

#chart-box {
  border-color: #686666;
  border-style: solid;
  border-radius: 2vh;
  background-color: #9f9f9fb3;
  height: 100%;
  max-height: 85vh;
  width: 80%;
  margin: 4vh auto;
  overflow-x: hidden;
  overflow-y: auto;
}

#map-background {
  height: 100%;
  background-color: #dadada;
}

.alfa {
  font-family: "Alfa Slab One", cursive;
}

.yuge {
  font-size: 5rem;
}

.centre {
  text-align: center;
}

#districtInfoBox {
  top: 2%;
  /*right: 1%;*/
  margin: 5% 2%;
  background-color: #f6f6f6;
  max-height: 90vh;
  overflow-y: auto;
}

@media (min-width: 992px) {
  #districtInfoBox {
    margin: 0;
    right: 1%;
  }
}


#districtInfoBox .header {
  font-size: 2.5rem;
  display: inline-block;
}

#districtInfoBox .subtitle {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
}

#mapModeTabs {
  flex-direction: initial;
  width: 100%;
  overflow: auto;
}

.mat-tab-header {
  background-color: #f6f6f6;
  z-index: 0;
}
