html * {
  font-family: 'Open Sans', sans-serif;
}

body {
  /*overflow: hidden;*/
  background-color: #dadada;
}

.hidden {
  display: none;
}

html, body {
  height: 100%;
}

#mapBox {
  min-height: 50vh;
  margin-left: 5px;
}

mat-card.mapCard {
  padding: 0;
}

#tweets_box {
  height: 100%;
  margin-right: -10px;
}

@media (max-width: 767px) {
  #tweets_box {
    height: 80vh;
  }
}

#chart-box {
  border-color: #686666;
  border-style: solid;
  border-radius: 2vh;
  background-color: #9f9f9fb3;
  height: 100%;
  max-height: 85vh;
  width: 80%;
  margin: 4vh auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.alfa {
  font-family: "Alfa Slab One", cursive;
}

.yuge {
  font-size: 3rem;
}

.centre {
  text-align: center;
}

.centre-col {
  height: 100%;
  margin: auto;
}

.infoBox {
  /*top: 2%;*/
  /*right: 1%;*/
  /*margin: 5% 2%;*/
  /*background-color: #f6f6f6;*/
  max-height: 85vh;
  overflow-y: auto;
}

#infoBox {
  margin-right: 5px;
}

#districtInfoBox .header {
  font-size: 2.5rem;
  display: inline-block;
}

#districtInfoBox .subtitle {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
}

#mapModeTabs {
  width: 100%;
  overflow: auto;
}

.mat-tab-header {
  background-color: #f6f6f6;
  z-index: 0;
}

.next-page-chevron {
  width: 100% !important;
  text-align: center;
  z-index: 999;
}

score-mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #FFF;
  width: 40px;
  height: 30px;
  background-color: #dadada;
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 12px;
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-weight: 700;
  text-align: center;
}

div.row {
  margin-top: 10px;
}

score-mark.wide {
  width: 60px;
}

score-mark.big {
  width: 80px;
  height: 60px;
  border-radius: 30px;
  line-height: 55px;
  font-size: 30px;
}

.btn.disabled {
  opacity: 0.25;
}

mat-card-header {
  position: relative;
}
