<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand" id="navbar-brand">What Happens In Scotland</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link feedback" href="https://strathsci.qualtrics.com/jfe/form/SV_9N7rhKFwmprJvDf">Leave Feedback</a>
      </li>
    </ul>
  </div>
</nav>

<div id="intro-box">
  <div id="intro-message">
    <div id="text-box">
      This site shows the emotions expressed by Twitter users all across Scotland. Each region has a positivity score
      showing overall how positive tweets are from that region.
      <br> <br>
      Interact with the map to view different regions and play with the filters to see what emotions you can uncover.
      <br> <br>
      I would also greatly appreciate it if you could leave your feedback on the website by clicking the "Leave Feedback"
      button in the navbar at the top! <i class="fas fa-arrow-up"></i>
      <br><br>
      <button id="hide_button" class="btn btn-secondary" style="margin-bottom: 10px;" (click)="hideIntroBox()">Ok</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!--<footer class="footer">-->
  <!--Today-->
  <!--<span *ngIf="paused" (click)="togglePaused()" ><i class="fas fa-play"></i></span>-->
  <!--<span *ngIf="!paused" (click)="togglePaused()"><i class="fas fa-pause"></i></span>-->
  <!--<input type="range" min="1" max="100" [(ngModel)]="value" class="slider" id="myRange">-->
<!--</footer>-->
