<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">What Happens In Scotland</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Emotional Geography<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Tourism</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!--<footer class="footer">-->
  <!--Today-->
  <!--<span *ngIf="paused" (click)="togglePaused()" ><i class="fas fa-play"></i></span>-->
  <!--<span *ngIf="!paused" (click)="togglePaused()"><i class="fas fa-pause"></i></span>-->
  <!--<input type="range" min="1" max="100" [(ngModel)]="value" class="slider" id="myRange">-->
<!--</footer>-->
