<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-light">
  <div class="navbar-brand" id="navbar-brand">What Happens In Scotland</div>
</nav>

<router-outlet></router-outlet>

<!--<footer class="footer">-->
  <!--Today-->
  <!--<span *ngIf="paused" (click)="togglePaused()" ><i class="fas fa-play"></i></span>-->
  <!--<span *ngIf="!paused" (click)="togglePaused()"><i class="fas fa-pause"></i></span>-->
  <!--<input type="range" min="1" max="100" [(ngModel)]="value" class="slider" id="myRange">-->
<!--</footer>-->
