div.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #a6a6a6;
  padding: .2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

.districts {
  cursor: pointer;
  stroke: #000;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.districts:hover {
  fill: #a2a2a2;
}

.boundary:hover {
  stroke: #a2a2a2;
}

.place-label {
  pointer-events:none;
}

.districts.selected {
  stroke-width: 5px;
}

.area-map {
  text-align: center;
}

.map-title {
  margin: 1%;
}

.area-map svg {
  max-height: 80vh;
  left: 0;
  position: absolute;
  min-height: 50vh;
}

@media (min-width: 992px) {
  .area-map svg {
    max-width: 40vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .area-map svg {
    max-width: 70vw;
  }
}

@media (max-width: 767px) {
  .area-map svg {
    width: 100vw;
    height: 85vh;
  }
}

.boundary {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 4vh !important;
  cursor: pointer;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes regionPulsate {
  0%    { stroke-width: 4vh; }
  50%   { stroke-width: 6vh; }
  100%  { stroke-width: 4vh; }
}

@keyframes regionPulsate2 {
  0%    { stroke-width: 4vh; }
  50%   { stroke-width: 6vh; }
  100%  { stroke-width: 4vh; }
}

@keyframes districtPulsate {
  0%    { stroke-width: 1px; }
  50%   { stroke-width: 5px; }
  100%  { stroke-width: 1px; }
}

@keyframes districtPulsate2 {
  0%    { stroke-width: 1px; }
  50%   { stroke-width: 5px; }
  100%  { stroke-width: 1px; }
}

/*Page loading spinner*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

