div.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #a6a6a6;
  padding: .2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

.districts {
  cursor: pointer;
  stroke: #000;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.districts:hover {
  fill: #a2a2a2;
}

#scotland-boundary:hover {
  stroke: #a2a2a2;
}

.place-label {
  pointer-events:none;
}

.selected {
  stroke-width: 5px;
}

#scotland-map {
  text-align: center;
}

#scotland-map svg {
  max-height: 85vh;
  left: 0;
  position: absolute;
}

#scotland-boundary {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 4vh;
  cursor: pointer;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#scotland-boundary-background {
  fill: white;
  stroke: none;
}

@keyframes regionPulsate {
  0%    { stroke-width: 4vh; }
  50%   { stroke-width: 5vh; }
  100%  { stroke-width: 4vh; }
}

@keyframes regionPulsate2 {
  0%    { stroke-width: 4vh; }
  50%   { stroke-width: 5vh; }
  100%  { stroke-width: 4vh; }
}

@keyframes districtPulsate {
  0%    { stroke-width: 1px; }
  50%   { stroke-width: 5px; }
  100%  { stroke-width: 1px; }
}

@keyframes districtPulsate2 {
  0%    { stroke-width: 1px; }
  50%   { stroke-width: 5px; }
  100%  { stroke-width: 1px; }
}
